<h1>FairCharger</h1>
<div>
    <div>Aktueller Kontostand: {{currentBalance}} Ether</div>
</div>

<br>

<input type="text"  #titleInput placeholder="Ladesäulen ID">
<button type="submit" (click) = 'sendChargeRequest(titleInput.value)'>Preis abrufen</button>


<br>
<br>

<div *ngIf="errorMessage !=''" style="color:red">
    {{errorMessage}}
</div>

<div *ngIf="infoAndPrice">
    <div style="color:red">Ladesäulen-ID: {{chargeAccount}}</div>
    <div style="color:red">Preis: {{price}} Ether pro kWh</div>
    <button type="submit" (click) = 'startCharging()'>Ladevorgang starten</button>
    <button type="submit" (click) = 'declinePrice()'>Abbrechen</button>
</div>

<div *ngIf="charging">


</div>
  
