<h1>FairCharger</h1>
<!--Infos zum Account und Auto-->
<div>
    <div>Aktueller Kontostand: {{currentBalanceOut}} ChargeCoins</div>
    <div>Aktueller Ladezustand: {{carSOCPercentOut}} % / {{carSOCAbsoluteOut}} kWh</div>
</div>
<br>

<!--Verbinden zu einer Ladesäule-->
<div>
    <input type="text" #titleInput placeholder="Ladesäulen ID">
    <button [disabled]="charging || showPriceInfo" type="submit" (click)='sendChargeRequest(titleInput.value)'>Preis
        abrufen</button>
</div>
<br>

<!--Ladesäulen-Info: ID und Preis-->
<div *ngIf="showPriceInfo">
    <div>Ladesäulen-ID: {{chargerAccount}}</div>
    <div>Preis: {{price}} ChargeCoins pro kWh</div>
    <button [disabled]="charging" type="submit" (click)='startCharging()'>Ladevorgang starten</button>
    <button [disabled]="charging" type="submit" (click)='declinePrice()'>Ladesäule trennen</button>
</div>
<br>
<!--Ladeinfo: Geladener Strom und Preis-->
<div *ngIf="showChargingInfo">
    <div style="color:green">Geladener Strom {{totalChargeOut}} kWh</div>
    <div style="color:red">Kosten {{totalCostOut}} ChargeCoins</div>
    <div>Übriger Kontostand {{totalCostOut}} ChargeCoins</div>
    <button *ngIf="charging" type="submit" (click)='endCharging()'>Abschließen und bezahlen...</button>
</div>
<br>

<!--Ladevorgang abschließen-->
<div [ngStyle]="{'color': statusColor}">{{statusText}}</div>
<br>